<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="\static\style_edit.css" />
    <title>Reset Initialized</title>
  </head>

  <body>
    <div class="container">
      <h1>Reset Initialized Status</h1>
      <p>Are you sure you want to reset the initialization status?</p>
      <form action="/reset_initialized" method="POST">
        <button type="submit">Reset</button>
      </form>
      <a href="{{ url_for('index') }}">Back to Home</a>
    </div>
  </body>
</html>
